<mat-card class="info-card">
  <mat-card-title class="app-card-title">App Info</mat-card-title>
  <mat-card-subtitle class="app-title">Movie<span style="color: forestgreen;">++</span></mat-card-subtitle>

  <mat-divider [inset]="true"></mat-divider>

  <p class="info-text">
    This is an app for finding your favourite movies with relative ease. Just enter the title and then the magic happens!<br />
    After you've found the movie you've been looking for, you can add it to your "Favourite" list (and remove later, of course), so you can access it fast and
    easily <span style="font-weight: bold; color: forestgreen; margin-left: 5px;margin-right: 5px;">;)</span>!<br />
  </p>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-subtitle class="app-title">API</mat-card-subtitle>

  <mat-divider [inset]="true"></mat-divider>

  <p class="info-text">
    All the information about movies in this app is obtained via requests to the <span style="color: #6b18b8;">OMDb API</span>.<br />
    Check them out!<br /><br />
    Link:<br />
    <a class="app-link" href="http://www.omdbapi.com/">http://www.omdbapi.com/</a><br />

  </p>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-subtitle class="app-title">Implementation</mat-card-subtitle>

  <mat-divider [inset]="true"></mat-divider>

  <p class="info-text">
    This web app was implemented using Angular 9 and TypeScript. Also most of the component used in this app are from Angular Material UI library.<br />
    To get more info on them please visit some of these links.<br /><br />
    <a class="app-link" href="https://www.typescriptlang.org">https://www.typescriptlang.org</a><br />
    <a class="app-link" href="https://angular.io/">https://angular.io/</a><br />
    <a class="app-link" href="https://www.w3schools.com/js/">https://www.w3schools.com/js/</a><br />
    <a class="app-link" href="https://getbootstrap.com/">https://getbootstrap.com/</a><br />
    <a class="app-link" href="https://material.angular.io/">https://material.angular.io/</a><br /><br /><br />
  </p>

</mat-card>
