<mat-card class="fav-list-card" *ngIf="!displayData">
  <mat-card-title class="fav-list-title">Favourite Movies</mat-card-title>
  <div class="fav-list" *ngFor="let key of keys">

    <div class="fav-item" *ngIf="faves.hasOwnProperty(key)">
      <a class="display-movie-info" (click)="onGoToMovie(key)">
        <img height="90px" src="{{faves[key]}}" style="float: left; margin: 5px;">
      </a>
      <a class="display-movie-info" (click)="onGoToMovie(key)">
        <span class="fav-item-title"><br />{{key}}</span>
      </a>
      <div class="fav-btn-container">
        <button mat-fab color="primary" (click)="onDelete(key)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>

  </div>
</mat-card>

<button mat-raised-button color="accent" (click)="onGoBack()" *ngIf="displayData" class="back-to-list">Go back to Favourites</button>
<app-moviecard *ngIf="displayData" [movieData]="movieObj" ></app-moviecard>
