.fav-list-card {
  width: 54%;
  margin-left: 23%;
  padding: 0;
  margin-top: 25px;
}

.fav-list-title {
  font-family: 'Suez One', serif;
  font-size: 45px;
  padding: 25px 0 30px 20px;
  color: #ffffff;
  background-color: magenta;
}

.fav-item {
  overflow: auto;
  border-bottom: #30363d solid 1px;
}

.fav-list {
  overflow: auto;
}

.fav-btn-container {
  float: right;
  padding-right: 20px;
  padding-bottom: 25px;
}

.fav-item-title {
  font-family: 'Suez One', serif;
  font-weight: bold;
  font-size: 35px;
}

.back-to-list {
  width: 26%;
  margin-left: 37%;
  margin-top: 20px;
  font-weight: bold;
}
.back-to-list:hover {
  background-color: #59a2e5;
}


.display-movie-info {
  color: black;
  cursor: pointer;
}

.display-movie-info:hover {
  text-decoration: none;
  color: dimgray;
}
